@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
*{
    margin:0px;
    padding:0px;
}
header{
    background-color: #ffffff;
    padding-bottom: 20px;
    border:1px solid #ffffff;
}
h3{
   position: relative;
   top:20px;
   left:100px;
   font-size: 20px;
   font-family: 'Roboto', sans-serif;  
}
.head{
    display: flex;
    list-style: none;
    justify-content:center;
    margin-left:-150px;
}
li{
   margin-right:50px;
   font-family: 'Raleway', sans-serif;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2 ,1fr); 
}
.grid1{
  grid-column: 1/1;
  margin-left:50px;
}
.grid2{
 grid-column: 2/2;
 margin-top:150px;
 margin-left:80px;
}
.grid2 > h4{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 10px;
    color: #ff7d1b;
}
.grid2 > h2{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-stretch: expanded;
    padding-bottom: 30px;
}
.grid2 > p{
   font-weight: bold;
   font-family: 'Rajdhani', sans-serif;
   padding-bottom: 10px;
   
}
.grid2 > h5{
    font-size: 20px;
    padding-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.counter{
    display: flex;
    flex-direction: row;
    
}
.button{
    border:1px solid white;
    padding: 10px;
    width: 50px;
    color:#ff7d1b;
}
.add{
    width: 250px;
    margin-left: 50px;
    border-radius: 10px;
    border:1px solid #ff7d1b;
    background-color: #ff7d1b;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
.add:hover{
    background-color: red;
    border:1px solid red;
}
.in{
    width: 100px;
    padding:20px;   
}
.inl{
    display: flex;
    justify-content: center;
    margin-left: -50px;
    margin-top:-50px;   
}
#image{
    width: 500px;
    height: 450px;
    padding: 60px;
    border-radius: 10px;
    border-radius: 30px;
}