@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

*{
  margin:0px;
  padding:0px;
}

.navbar{
display: flex;
justify-content: space-between;
align-content: center;
padding:15px;
background-color: #080c25;
color: white;

}
.navbar h3{
  font-family: 'Macondo', cursive;
  font-size: 25px;
  margin-left: 30px;
}

.navbar-list li {
  font-family: 'Macondo', cursive;
  font-size: 22px;
  margin-left:20px;
}

.navbar-list{
  display: flex;
  list-style-type: none;
  
}
